**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

In [1]:
eggs = (1,3,8,3,2)
my_listComprehension = [1/egg for egg in eggs]
print(my_listComprehension)

[1.0, 0.3333333333333333, 0.125, 0.3333333333333333, 0.5]

# Insert here the module/library import statements

NameError: name 'statements' is not defined


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
square= [num**2 for num in range(1,21)] #numero elevado al dos, de numero en un rango del 1 al 20, añade a lista.
square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [10]:
#Calcula la raíz cuadrada de los primeros 100 números

import math
sqrt= [math.sqrt(num)for num in range(1,101)]
sqrt [:10]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [15]:
my_list = [num for num in range(-10, 1)] #utilizamos bucle for para iterar sobre los numeros del -10 al 1
my_list                                  #En cada iteración del bucle, num tomará el valor del número actual en el rango.
                                        #[num]: En la comprensión de lista, creamos una lista con el número actual num en cada iteración. Esto genera una lista de los números del -10 al -1.

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [21]:
odds= [num for num in range(1,101) if num % 2 != 0]# Muestrame numeros en los numeros del 1 al 100 si son impares num % 2 !=0 
odds[:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [46]:
7%2

1

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [120]:
#Encuentra todos los números del 1 al 1000 que son divisibles por 7.
divisible_by_seven= [num for num in range (1,1001)if num %7==0] #muestrame numeros de numeros en rango de 1 al 1000 si son divisibles entre 7 
divisible_by_seven [:10]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [29]:
# You can use the following test string but feel free to modify at your convenience
#Elimina todas las vocales de una cadena. Pista: haz una lista de las no vocales. Use non_vocals como el nombre de la lista

teststring = 'Find all of the words in a string that are monosyllabic'
vocales = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
non_vowels= ''.join([pal for pal in teststring if pal not in vocales]) # ''.join toma la lista non_vocals y une todos los caracteres en una cadena utilizando el carácter vacío '' como separado y la asignamos a la variable non_vocals
            #Elimino las palabas de palabras en testrings si la palabra no esta en vocales
non_vowels

'Fnd ll f th wrds n  strng tht r mnsyllbc'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [35]:
#Encuentra las letras mayúsculas (y no los espacios en blanco) en la oración 'The Quick Brown Fox Jumped Over The Lazy Dog'.
sentence='The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letter= [pal for pal in sentence if pal.isupper() and pal != ' ']
                # muestrame las palabras en las palabras sentence si son mayusculas y eliminando espacio. añade las palabras a la variable capital letter

capital_letter

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [37]:
#Encuentra todas las consonantes
sentence = 'The quick brown fox jumped over the lazy dog'
vocales = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
consonants = [let for let in sentence if let not in vocales]
            #muestrame las letras en sentence si las letras no estan en vocales
consonants[:10]

['T', 'h', ' ', 'q', 'c', 'k', ' ', 'b', 'r', 'w']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [39]:
#Crea 4 listas de 10 números aleatorios entre 0 y 100 cada una. Use random_lists como el nombre de la lista

import random
random_lists = [[random.randint(0, 100) for _ in range(10)] for _ in range(4)]

for lista in random_lists:
    print(lista)

[65, 100, 28, 94, 88, 90, 48, 46, 97, 63]
[42, 14, 65, 69, 9, 47, 87, 87, 52, 63]
[70, 8, 30, 80, 56, 88, 84, 67, 47, 18]
[87, 84, 33, 85, 71, 84, 58, 60, 71, 38]

In [59]:
[[random.randint(0, 100) for n in range(10)] for n in range (8)]

[[80, 52, 21, 80, 13, 70, 25, 26, 8, 10],
 [21, 37, 14, 3, 16, 40, 34, 1, 15, 62],
 [11, 5, 43, 70, 86, 55, 87, 16, 39, 99],
 [17, 91, 26, 56, 19, 37, 35, 94, 88, 34],
 [54, 23, 66, 85, 29, 12, 28, 19, 7, 86],
 [65, 0, 86, 80, 3, 57, 55, 31, 56, 73],
 [70, 64, 64, 5, 12, 46, 97, 94, 32, 13],
 [0, 51, 93, 12, 43, 21, 18, 51, 40, 88]]

In [116]:
seleccionados = [] # Creo una lista vacía para comprobar que los números que genero no se repiten

for vuelta_principal in range(1,5): # Doy 4 vueltas
        
    #print(f'Vuelta princiapal = {vuelta_principal}')  
    lista = [] # Creo una 2a lista vacía para añadir los 10 nums aleatorios (no repetidos)
    
    for vuelta_anidada in range(1,11): # Doy 10 vueltas por cada vuelta principal (4 vueltas principales)
        
        #print(f'vuelta anidada = {vuelta_anidada}')
        
        while num in seleccionados: # Creo un bucle while que se repite hasta que deja de cumplirse la condición
                                    # Mientras num esté en SELECCIONADOS el bucle seguirá
                
            num = random.randint(0, 100) # Genero un num aleatorio entre 0 y 100 (entero)
            #print(f'El num generado es {num}')
            #if num in seleccionados:
                #print(f'{num} está repe!')
            
        lista.append(num) # Añado el numero (no repetido) a la LISTA
        seleccionados.append(num) # Añado el número (no repetido) a SELECCIONADOS
        
        #print(f'lista = {lista}')
        #print(f'seleccionados = {seleccionados}')
        #print('')
    
    print(lista) # Imprimo LISTA al final de cada vuelta principal

[21, 67, 63, 89, 41, 34, 81, 54, 88, 31]
[35, 99, 60, 78, 56, 70, 23, 87, 37, 85]
[30, 98, 94, 6, 2, 58, 48, 76, 22, 47]
[80, 43, 16, 66, 45, 1, 36, 57, 11, 64]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [126]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [128]:
flattened_list = [num for sublist in list_of_lists for num in sublist] # muestrame un numero en la sublista de list_of_lists por numero en una sublista.
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [135]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [142]:
floats= [[float(num) for num in sublist] for sublist in list_of_lists]
print(floats)

[[40.0, 20.0, 10.0, 30.0], [20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0], [30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0], [100.0, 100.0], [100.0, 100.0, 100.0, 100.0, 100.0], [100.0, 100.0, 100.0, 100.0]]

In [145]:
from itertools import chain #Importamos la función chain del módulo itertools. chain se utiliza para concatenar iterables en uno solo.

aplanada = list(chain.from_iterable(floats)) # chain.from_iterable para generar un iterador que combina todos los elementos de la lista anidada flotantes en uno solo 
                                            #toma cada sublista dentro de flotantes y los une en un único iterador.
                                            #Utilizamos la función list() para convertir el iterador en una lista. Esto nos da la lista plana aplanada con todos los elementos de las sublistas combinados en un solo nivel.
print(aplanada)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [158]:
for i in ['a','b','c']:
    try:
        print (i**2) # al no ser un numero no puede elevarlo al cuadrado, se produce un error
        
    except TypeError:
        
        print ("Error: Se produjo una excepción por un tipo de dato inválido.")
        
        #  En lugar de detener la ejecución del programa, se captura la excepción y se imprime un mensaje de error específico.

Error: Se produjo una excepción por un tipo de dato inválido.
Error: Se produjo una excepción por un tipo de dato inválido.
Error: Se produjo una excepción por un tipo de dato inválido.

In [160]:
for i in ['a','b','c',4]:
    try:
        print (i**2)
        
    except TypeError:
        
        print ("Error: Se produjo una excepción por un tipo de dato inválido.")

Error: Se produjo una excepción por un tipo de dato inválido.
Error: Se produjo una excepción por un tipo de dato inválido.
Error: Se produjo una excepción por un tipo de dato inválido.
16

In [162]:
for i in [2,'b','c',4]:
    try:
        print (i**2)
        
    except TypeError:
        
        print ("Error: Se produjo una excepción por un tipo de dato inválido.")
        
# El codigo se ejecuta, aun cuando tenga un error.

4
Error: Se produjo una excepción por un tipo de dato inválido.
Error: Se produjo una excepción por un tipo de dato inválido.
16

In [163]:
for i in [2,'b','c',4]:
        print (i**2)

4

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [165]:
x = 5
y = 0

try:
    z = x/y
    print('All Done')
except ZeroDivisionError:
    print('Error: no se puede dividir entre 0')

Error: no se puede dividir entre 0

In [166]:
x = 5
y = 2

try:
    z = x/y
    print('All Done')
except ZeroDivisionError:
    print('Error: no se puede dividir entre 0')

All Done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [167]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [168]:
abc=[10,20,20]

try: 
    print(abc[3])
except IndexError:
    print('Error: indice de lista fuera de rango')

Error: indice de lista fuera de rango

In [169]:
abc=[10,20,20]

try: 
    print(abc[2]) # busca en indice dos OJO RECUERDA las listas estan indexadas desde 0.
except IndexError:
    print('Error: indice de lista fuera de rango')

20

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [177]:
try: 
    
    numerador = float(input('Ingrese el numerador: '))
    denominador = float(input('Ingrese el denominador: '))
    resultado = numerador / denominador
    print('El resultado de la división es:', resultado)

except ValueError:
    print('Error: Ingrese solo números válidos.')
    
except ZeroDivisionError:
    print('Error: No se puede dividir entre cero.')

Ingrese el numerador: verde
Error: Ingrese solo números válidos.

In [181]:

try: 
    
    numerador = float(input('Ingrese el numerador: '))
    denominador = float(input('Ingrese el denominador: '))
    resultado = numerador / denominador
    print('El resultado de la división es:', resultado)

except ValueError:
    print('Error: Ingrese solo números válidos.')
    
except ZeroDivisionError:
    print('Error: No se puede dividir entre cero.')
    
    A= 7/2

Ingrese el numerador: 7
Ingrese el denominador: 2
El resultado de la división es: 3.5

In [180]:
try: 
    
    numerador = float(input('Ingrese el numerador: '))
    denominador = float(input('Ingrese el denominador: '))
    resultado = numerador / denominador
    print('El resultado de la división es:', resultado)

except ValueError:
    print('Error: Ingrese solo números válidos.')
    
except ZeroDivisionError:
    print('Error: No se puede dividir entre cero.')
    
    A= 7/0

Ingrese el numerador: 7
Ingrese el denominador: 0
Error: No se puede dividir entre cero.

ZeroDivisionError: division by zero

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [184]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [187]:
try:
    f = open('testfile','r')
    f.write('Test write this')

except FileNotFoundError:
    print ('No existe tal archivo o directorio especificado. ')

No existe tal archivo o directorio especificado.

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [188]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (1269636024.py, line 2)

In [189]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
    print(i)
    
except FileNotFoundError:
    print("Error: El archivo no se pudo encontrar.")
except ValueError:
    print("Error: No se pudo convertir la línea a un entero.")

Error: El archivo no se pudo encontrar.

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [5]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'