**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [2]:
import sys 
import random
import math


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [27]:
lst= [random.randint(1, 100) for _ in range(20)]

result=lambda x: x**2, lst

result

(<function __main__.<lambda>(x)>,
 [9,
  71,
  65,
  48,
  37,
  32,
  61,
  89,
  81,
  37,
  78,
  35,
  38,
  65,
  88,
  38,
  43,
  23,
  40,
  88])

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [7]:
lst= [random.randint(1, 200) for _ in range(100)]

result=lambda x: sqrt(x), lst

result

(<function __main__.<lambda>(x)>,
 [78,
  3,
  63,
  145,
  18,
  164,
  138,
  199,
  144,
  56,
  183,
  29,
  179,
  5,
  121,
  186,
  69,
  130,
  17,
  180,
  80,
  146,
  139,
  18,
  25,
  119,
  70,
  28,
  112,
  190,
  83,
  73,
  123,
  89,
  52,
  100,
  82,
  120,
  31,
  37,
  104,
  108,
  150,
  56,
  113,
  25,
  135,
  100,
  121,
  72,
  182,
  86,
  2,
  195,
  184,
  181,
  167,
  64,
  53,
  162,
  33,
  144,
  124,
  91,
  75,
  113,
  96,
  86,
  169,
  137,
  54,
  75,
  23,
  103,
  140,
  100,
  159,
  167,
  6,
  194,
  4,
  155,
  65,
  176,
  87,
  54,
  157,
  13,
  69,
  31,
  168,
  38,
  29,
  123,
  39,
  24,
  101,
  32,
  190,
  99])


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

(<function __main__.<lambda>(x)>, [])

In [15]:
list(range(-10, 1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [18]:
lista= [random.randint(1, 200) for _ in range(100)]
lista_odd=[]
for e in lista:
    if e%2==0:
        lista_odd.append(e)
lista_odd

[174,
 200,
 14,
 98,
 30,
 194,
 156,
 124,
 180,
 176,
 194,
 180,
 82,
 74,
 48,
 20,
 168,
 132,
 62,
 54,
 188,
 108,
 68,
 18,
 30,
 16,
 76,
 54,
 78,
 200,
 182,
 136,
 88,
 78,
 8,
 104,
 6,
 34,
 112,
 34,
 68,
 4,
 14,
 80,
 120,
 10,
 4,
 6,
 184,
 38,
 20,
 48,
 90,
 4,
 118,
 58,
 142]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [19]:
lista= [random.randint(1, 1000) for _ in range(1000)]
lista_odd=[]
for e in lista:
    if e%7==0:
        lista_odd.append(e)
lista_odd

[812,
 301,
 581,
 756,
 868,
 721,
 672,
 833,
 91,
 168,
 784,
 476,
 63,
 518,
 833,
 630,
 476,
 378,
 357,
 966,
 525,
 161,
 574,
 693,
 889,
 903,
 490,
 805,
 567,
 91,
 147,
 756,
 329,
 315,
 784,
 84,
 112,
 882,
 707,
 644,
 966,
 994,
 903,
 959,
 182,
 735,
 609,
 553,
 77,
 154,
 413,
 371,
 406,
 308,
 91,
 126,
 889,
 455,
 511,
 868,
 231,
 161,
 658,
 168,
 406,
 378,
 441,
 126,
 924,
 98,
 350,
 693,
 287,
 546,
 756,
 329,
 735,
 203,
 539,
 182,
 931,
 770,
 455,
 910,
 672,
 364,
 952,
 35,
 784,
 448,
 763,
 77,
 693,
 637,
 539,
 805,
 875,
 126,
 448,
 630,
 574,
 854,
 490,
 595,
 399,
 994,
 378,
 980,
 392,
 525,
 399,
 707,
 112,
 945,
 763,
 203,
 455,
 980,
 420,
 651,
 196,
 154,
 728,
 546,
 49,
 763,
 756,
 882,
 154,
 301,
 742,
 756,
 938,
 672,
 840,
 945,
 567,
 112,
 693,
 98,
 840,
 546,
 980,
 77,
 70,
 602,
 476,
 672,
 105,
 399,
 413,
 854,
 252]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [24]:
# You can use the following test string but feel free to modify at your convenience
teststring = 'Find all of the words in a string that are monosyllabic'
vowels = 'aeiou'
lista_string = list(teststring)

for char in lista_string:
    if char.lower() in vowels:
        lista_string.remove(char)

lista_odd = lista_odd.replace(' ', '')
print(list(lista_odd))

['F', 'n', 'd', 'l', 'l', 'f', 't', 'h', 'w', 'r', 'd', 's', 'n', 's', 't', 'r', 'n', 'g', 't', 'h', 't', 'r', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [33]:
String= 'The Quick Brown Fox Jumped Over The Lazy Dog'

listu= list(String)

capital=[]

for letra in listu:
    if letra.isupper()==True:
        capital.append(letra)
        
capital

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [34]:
testy = 'The quick brown fox jumped over the lazy dog'
vowels = 'aeiou'
lista_ = list(testy)

cons=[]

for consonant in lista_:
    if consonant not in vowels:
        cons.append(consonant)
cons

['T',
 'h',
 ' ',
 'q',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'w',
 'n',
 ' ',
 'f',
 'x',
 ' ',
 'j',
 'm',
 'p',
 'd',
 ' ',
 'v',
 'r',
 ' ',
 't',
 'h',
 ' ',
 'l',
 'z',
 'y',
 ' ',
 'd',
 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [37]:
import random

random_lists = [
    [random.randint(1, 100) for _ in range(10)],
    [random.randint(1, 100) for _ in range(10)],
    [random.randint(1, 100) for _ in range(10)],
    [random.randint(1, 100) for _ in range(10)],
    [random.randint(1, 100) for _ in range(10)]
]

print(random_lists)

[[12, 30, 3, 32, 15, 93, 63, 88, 71, 43], [22, 62, 57, 21, 5, 45, 25, 16, 34, 91], [70, 51, 51, 38, 36, 70, 8, 77, 69, 7], [66, 40, 25, 29, 70, 7, 50, 100, 17, 7], [33, 61, 93, 88, 49, 8, 74, 46, 4, 33]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [38]:
original_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = []

[flatten_list.extend(sublist) for sublist in original_list]

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [44]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]
new_list=[]
for lista in list_of_lists:
    for number in lista:
        new_list.append(float(number))
print(new_list)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    print i**2

In [54]:
try:
    for i in ['a','b','c']:
        print (i**2)
except:
    print('no funciona wey')
    raise

no funciona wey

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [53]:
try:
    x = 5
    y = 0
    z = x/y
except:
    print('no funciona wey')
    raise()
    
finally:
    print('all done')

no funciona wey
all done

TypeError: exceptions must derive from BaseException

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [ ]:
abc=[10,20,20]
print(abc[3])

In [55]:
try:
    abc=[10,20,20]
    print(abc[3])
except:
    raise

IndexError: list index out of range

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [56]:
try:
    numerator = int(input("Enter the numerator: "))
    denominator = int(input("Enter the denominator: "))
    result = numerator / denominator
    print("The result of the division is:", result)

except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

except ValueError:
    print("Error: Invalid input. Please enter integers only.")

Enter the numerator: 2
Enter the denominator: 3
The result of the division is: 0.6666666666666666

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [57]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [59]:
try:
    with open('testfile', 'r') as f:
        f.write('Test write this')

except IOError:
    print("An error occurred while writing to the file.")

An error occurred while writing to the file.

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [60]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (1269636024.py, line 2)

In [63]:
try:
    fp = open('myfile.txt')
    line = fp.readline()
    i = int(line.strip())
    print("The integer value is:", i)

except FileNotFoundError:
    print("Error: The file does not exist.")

except ValueError:
    print("Error: Unable to convert data to an integer.")

finally:
    if 'fp' in locals():
        fp.close()

Error: The file does not exist.

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [5]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined

In [64]:
try:
    fp = open('myfile.txt')
    line = fp.readline()
    i = int(line.strip())
    print("The integer value is:", i)

except FileNotFoundError:
    print("Error: The file does not exist.")

except ValueError:
    print("Error: Unable to convert data to an integer.")

finally:
    if 'fp' in locals():
        fp.close()

Error: The file does not exist.


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [68]:
def function(x=input('enter the integer:')):
    integer=int(x)
    square=integer**2
    
    return square

result = function()
print("RESULT:", result)

enter the integer:2
RESULT: 4


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

In [75]:

lista_odd=[]
for e in range(1,1000):
    if any(e%i==0 for i in range (2,10)):
        lista_odd.append(e)
lista_odd

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100,
 102,
 104,
 105,
 106,
 108,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 122,
 123,
 124,
 125,
 126,
 128,
 129,
 130,
 132,
 133,
 134,
 135,
 136,
 138,
 140,
 141,
 142,
 144,
 145,
 146,
 147,
 148,
 150,
 152,
 153,
 154,
 155,
 156,
 158,
 159,
 160,
 161,
 162,
 164,
 165,
 166,
 168,
 170,
 171,
 172,
 174,
 175,
 176,
 177,
 178,
 180,
 182,
 183,
 184,
 185,
 186,
 188,
 189,
 190,
 192,
 194,
 195,
 196,
 198,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 210,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 224,
 225,
 226,
 228,
 230,
 231,
 232,
 234,
 235,
 236,
 237,
 238,
 240,
 242,
 243,
 244,
 245,
 246,
 248,
 249,
 250,
 252,
 254,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 264,
 265,
 266,
 267,
 268,
 270,
 272,
 273,
 274,
 275,
 276,
 278,
 279,
 280,
 282,
 284,
 285,
 286,
 287,
 288,
 290,
 291,
 292,
 294,
 295,
 296,
 297,
 298,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 308,
 309,
 310,
 312,
 314,
 315,
 316,
 318,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 332,
 333,
 334,
 335,
 336,
 338,
 339,
 340,
 342,
 343,
 344,
 345,
 346,
 348,
 350,
 351,
 352,
 354,
 355,
 356,
 357,
 358,
 360,
 362,
 363,
 364,
 365,
 366,
 368,
 369,
 370,
 371,
 372,
 374,
 375,
 376,
 378,
 380,
 381,
 382,
 384,
 385,
 386,
 387,
 388,
 390,
 392,
 393,
 394,
 395,
 396,
 398,
 399,
 400,
 402,
 404,
 405,
 406,
 408,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 420,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 432,
 434,
 435,
 436,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 447,
 448,
 450,
 452,
 453,
 454,
 455,
 456,
 458,
 459,
 460,
 462,
 464,
 465,
 466,
 468,
 469,
 470,
 471,
 472,
 474,
 475,
 476,
 477,
 478,
 480,
 482,
 483,
 484,
 485,
 486,
 488,
 489,
 490,
 492,
 494,
 495,
 496,
 497,
 498,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 508,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 518,
 519,
 520,
 522,
 524,
 525,
 526,
 528,
 530,
 531,
 532,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 542,
 543,
 544,
 545,
 546,
 548,
 549,
 550,
 552,
 553,
 554,
 555,
 556,
 558,
 560,
 561,
 562,
 564,
 565,
 566,
 567,
 568,
 570,
 572,
 573,
 574,
 575,
 576,
 578,
 579,
 580,
 581,
 582,
 584,
 585,
 586,
 588,
 590,
 591,
 592,
 594,
 595,
 596,
 597,
 598,
 600,
 602,
 603,
 604,
 605,
 606,
 608,
 609,
 610,
 612,
 614,
 615,
 616,
 618,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 630,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 642,
 644,
 645,
 646,
 648,
 650,
 651,
 652,
 654,
 655,
 656,
 657,
 658,
 660,
 662,
 663,
 664,
 665,
 666,
 668,
 669,
 670,
 672,
 674,
 675,
 676,
 678,
 679,
 680,
 681,
 682,
 684,
 685,
 686,
 687,
 688,
 690,
 692,
 693,
 694,
 695,
 696,
 698,
 699,
 700,
 702,
 704,
 705,
 706,
 707,
 708,
 710,
 711,
 712,
 714,
 715,
 716,
 717,
 718,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 728,
 729,
 730,
 732,
 734,
 735,
 736,
 738,
 740,
 741,
 742,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 752,
 753,
 754,
 755,
 756,
 758,
 759,
 760,
 762,
 763,
 764,
 765,
 766,
 768,
 770,
 771,
 772,
 774,
 775,
 776,
 777,
 778,
 780,
 782,
 783,
 784,
 785,
 786,
 788,
 789,
 790,
 791,
 792,
 794,
 795,
 796,
 798,
 800,
 801,
 802,
 804,
 805,
 806,
 807,
 808,
 810,
 812,
 813,
 814,
 815,
 816,
 818,
 819,
 820,
 822,
 824,
 825,
 826,
 828,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 840,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 852,
 854,
 855,
 856,
 858,
 860,
 861,
 862,
 864,
 865,
 866,
 867,
 868,
 870,
 872,
 873,
 874,
 875,
 876,
 878,
 879,
 880,
 882,
 884,
 885,
 886,
 888,
 889,
 890,
 891,
 892,
 894,
 895,
 896,
 897,
 898,
 900,
 902,
 903,
 904,
 905,
 906,
 908,
 909,
 910,
 912,
 914,
 915,
 916,
 917,
 918,
 920,
 921,
 922,
 924,
 925,
 926,
 927,
 928,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 938,
 939,
 940,
 942,
 944,
 945,
 946,
 948,
 950,
 951,
 952,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 962,
 963,
 964,
 965,
 966,
 968,
 969,
 970,
 972,
 973,
 974,
 975,
 976,
 978,
 980,
 981,
 982,
 984,
 985,
 986,
 987,
 988,
 990,
 992,
 993,
 994,
 995,
 996,
 998,
 999]

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'

In [76]:
class InvalidNumOfSectionsException(Exception):
    pass

try:
    Total_Marks = int(input("Enter Total Marks Scored: "))
    Num_of_Sections = int(input("Enter Num of Sections: "))

    if Num_of_Sections < 2:
        raise InvalidNumOfSectionsException("Number of sections cannot be less than 2.")

except ValueError:
    print("Error: Invalid input. Please enter an integer.")
except InvalidNumOfSectionsException as error:
    print("Error:", error)

Enter Total Marks Scored: 2
Enter Num of Sections: 2