**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [14]:
square = [e**2 for e in range(21)]
square

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [13]:

sqrt = [e**0.5 for e in range(101)]

sqrt

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0,
 5.0990195135927845,
 5.196152422706632,
 5.291502622129181,
 5.385164807134504,
 5.477225575051661,
 5.5677643628300215,
 5.656854249492381,
 5.744562646538029,
 5.830951894845301,
 5.916079783099616,
 6.0,
 6.082762530298219,
 6.164414002968976,
 6.244997998398398,
 6.324555320336759,
 6.4031242374328485,
 6.48074069840786,
 6.557438524302,
 6.6332495807108,
 6.708203932499369,
 6.782329983125268,
 6.855654600401044,
 6.928203230275509,
 7.0,
 7.0710678118654755,
 7.14142842854285,
 7.211102550927978,
 7.280109889280518,
 7.3484692283495345,
 7.416198487095663,
 7.483314773547883,
 7.54983443527075,
 7.615773105863909,
 7.681145747868608,
 7.745966692414834,
 7.810249675906654,
 7.874007874011811,
 7.937253933193772,
 8.0,
 8.06225774829855,
 8.12403840463596,
 8.18535277187245,
 8.246211251235321,
 8.306623862918075,
 8.366600265340756,
 8.426149773176359,
 8.48528137423857,
 8.54400374531753,
 8.602325267042627,
 8.660254037844387,
 8.717797887081348,
 8.774964387392123,
 8.831760866327848,
 8.888194417315589,
 8.94427190999916,
 9.0,
 9.055385138137417,
 9.1104335791443,
 9.16515138991168,
 9.219544457292887,
 9.273618495495704,
 9.327379053088816,
 9.38083151964686,
 9.433981132056603,
 9.486832980505138,
 9.539392014169456,
 9.591663046625438,
 9.643650760992955,
 9.695359714832659,
 9.746794344808963,
 9.797958971132712,
 9.848857801796104,
 9.899494936611665,
 9.9498743710662,
 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
my_list = [i for i in range(-10,1)]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [3]:
odds = [e for e in range(1, 101) if e%2 != 0 ]

print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
divisible_by_seven = [i for i in range (1, 1001) if i%7 == 0]

print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [5]:
# You can use the following test string but feel free to modify at your convenience
teststring = 'Find all of the words in a string that are monosyllabic'
teststring_lower = teststring.lower()
vowels = ['a', 'e', 'i', 'o', 'u' ]
non_vowels = [e for e in teststring_lower if e not in vowels ]

 

print(non_vowels)

['f', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [6]:


string = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = [v for v in string if v.isupper()]



capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [7]:
str_ = 'The quick brown fox jumped over the lazy dog'
str_lower = str_.lower()
print(str_lower)
consonants = [v for v in str_lower if v not in vowels if v != ' ']
consonants

the quick brown fox jumped over the lazy dog

['t',
 'h',
 'q',
 'c',
 'k',
 'b',
 'r',
 'w',
 'n',
 'f',
 'x',
 'j',
 'm',
 'p',
 'd',
 'v',
 'r',
 't',
 'h',
 'l',
 'z',
 'y',
 'd',
 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [8]:
#No hacer

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [9]:
import random

In [18]:

random_list1 = [random.randint(0, 101) for e in range(10)]
random_list2 = [random.randint(0, 101) for e in range(10)]
random_list3 = [random.randint(0, 101) for e in range(10)]
random_list4 = [random.randint(0, 101) for e in range(10)]
random_lists = [random_list1, random_list2, random_list3, random_list4]
print(random_list1, random_list2, random_list3, random_list4)
print(random_lists)

[100, 65, 4, 58, 31, 15, 30, 100, 21, 25] [13, 15, 37, 37, 57, 36, 65, 90, 62, 27] [55, 34, 74, 6, 100, 25, 34, 12, 83, 98] [48, 56, 23, 40, 56, 6, 8, 39, 15, 56]
[[100, 65, 4, 58, 31, 15, 30, 100, 21, 25], [13, 15, 37, 37, 57, 36, 65, 90, 62, 27], [55, 34, 74, 6, 100, 25, 34, 12, 83, 98], [48, 56, 23, 40, 56, 6, 8, 39, 15, 56]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [19]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [20]:

flatten_list = [v for e in list_of_lists for v in e]

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [21]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [22]:
lista_flatten =[v for lst in list_of_lists for v in lst ]
floats = [float(e) for lst in list_of_lists for e in lst]

floats

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

In [23]:
"""
for lst in list_of_lists:
    for e in lst:
        num = float(e)
        floats.append(num)
Por si no te acuerdas de hacer la compresion de arriba:
-Primero escribes lo que se produce si ocurre el bucle for dentro del for-----> float(e) 
el floats.append(num) esta sobreentendido al añidir ese float(e) y luego ya como siempre primero el primer for que aparece
luego el siguiente
"""

'\nfor lst in list_of_lists:\n    for e in lst:\n        num = float(e)\n        floats.append(num)\nPor si no te acuerdas de hacer la compresion de arriba:\n-Primero escribes lo que se produce si ocurre el bucle for dentro del for-----> float(e) \nel floats.append(num) esta sobreentendido al añidir ese float(e) y luego ya como siempre primero el primer for que aparece\nluego el siguiente\n'

# Handle the exception thrown by the code below by using try and except blocks.

In [24]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3439384179.py, line 2)

In [33]:
for i in ['a','b','c']:
    try: 
        print i**2
    except SyntaxError as error:
        print(f'SyntaxError:revise el código')

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (1736533230.py, line 3)

In [34]:
for i in ['a', 'b', 'c']:
    try:
        print(i**2)
    except TypeError:
        print("An error occurred: Cannot perform the operation on a string.")

An error occurred: Cannot perform the operation on a string.
An error occurred: Cannot perform the operation on a string.
An error occurred: Cannot perform the operation on a string.

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [35]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [39]:
try:
    x = 5
    y = 0

    z = x/y
except ZeroDivisionError:
    print(f'La variable en el denominador no puede ser 0')

La variable en el denominador no puede ser 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [40]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [41]:
try:
    abc=[10,20,20]
    print(abc[3])
except IndexError:
    print(f'La longitud de la lista ha sido superada, el elemento requerido no existe')

La longitud de la lista ha sido superada, el elemento requerido no existe

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [71]:

try:
    x = int(input(f'PLease enter a number:'))
    y = int(input(f'Please enter other number:'))
    print('La división de los números es:', x/ y )
except ValueError:
    print(f'El usuario debe introducir un número')
except ZeroDivisionError:
        print(f'El segundo número facilitado por el usuario no puede ser 0 ')

PLease enter a number:w
El usuario debe introducir un número

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [60]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [72]:
try: 
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print(f'La carpeta no contiene un archivo o directorio llamado : testfile')

La carpeta no contiene un archivo o directorio llamado : testfile

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [73]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (4187890856.py, line 2)

In [74]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except IndentationError:
    print('El código está mal indentado')
except FileNotFoundError:
    print(f'La carpeta no contiene un archivo o directorio llamado : myfile.txt')
except AttributeError:
    print(f'La variable i no puede ser convertida a integer')

La carpeta no contiene un archivo o directorio llamado : myfile.txt

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [76]:
import sys

In [77]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [82]:
try:
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    linux_interaction()
except IndentationError:
    print('Revisar código')
except AssertionError:
    print('Solo puede realizarse la funcion en un sistema Lynux')

Solo puede realizarse la funcion en un sistema Lynux


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.

In [98]:
try:
    def numeros (x):

        return x**2
    a = int(input("Enter a number: "))
    a_cuadrado = numeros(a)
    print(f'El cuadrado del numero dado es', a_cuadrado)

except ValueError:
    print(f'El usuario debe introducir un número')

Enter a number: a
El usuario debe introducir un número


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [83]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: sasd

ValueError: invalid literal for int() with base 10: 'sasd'

In [86]:
try:
    Total_Marks = int(input("Enter Total Marks Scored: ")) 
    Num_of_Sections = int(input("Enter Num of Sections: "))
except ValueError:
    print(f'El usuario debe introducir un número')

Enter Total Marks Scored: 4
Enter Num of Sections: 5