**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [146]:
import random
random_numbers = []
for i in range(100):
    random_num = random.randint(1,100)
    random_numbers.append(random_num)
print(random_numbers)

[31, 13, 69, 20, 43, 15, 37, 5, 88, 28, 49, 43, 1, 90, 71, 14, 52, 7, 22, 55, 10, 55, 63, 66, 38, 22, 38, 92, 99, 34, 54, 37, 2, 18, 100, 70, 57, 68, 47, 86, 92, 1, 98, 71, 42, 73, 59, 90, 1, 23, 2, 90, 14, 16, 84, 52, 4, 92, 50, 4, 64, 47, 79, 52, 34, 29, 83, 15, 17, 100, 8, 78, 64, 70, 54, 100, 65, 2, 58, 81, 17, 95, 27, 75, 95, 23, 37, 11, 87, 44, 30, 83, 87, 37, 37, 78, 70, 59, 22, 96]


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [148]:
for i in random_numbers[:19]:
    square = []
    x = i**2
    square.append(x)
    print(square)

[961]
[169]
[4761]
[400]
[1849]
[225]
[1369]
[25]
[7744]
[784]
[2401]
[1849]
[1]
[8100]
[5041]
[196]
[2704]
[49]
[484]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [149]:
sqrt = []
for i in random_numbers:
    b = math.sqrt(i)
    sqrt.append(b)
print(sqrt)

[5.5677643628300215, 3.605551275463989, 8.306623862918075, 4.47213595499958, 6.557438524302, 3.872983346207417, 6.082762530298219, 2.23606797749979, 9.38083151964686, 5.291502622129181, 7.0, 6.557438524302, 1.0, 9.486832980505138, 8.426149773176359, 3.7416573867739413, 7.211102550927978, 2.6457513110645907, 4.69041575982343, 7.416198487095663, 3.1622776601683795, 7.416198487095663, 7.937253933193772, 8.12403840463596, 6.164414002968976, 4.69041575982343, 6.164414002968976, 9.591663046625438, 9.9498743710662, 5.830951894845301, 7.3484692283495345, 6.082762530298219, 1.4142135623730951, 4.242640687119285, 10.0, 8.366600265340756, 7.54983443527075, 8.246211251235321, 6.855654600401044, 9.273618495495704, 9.591663046625438, 1.0, 9.899494936611665, 8.426149773176359, 6.48074069840786, 8.54400374531753, 7.681145747868608, 9.486832980505138, 1.0, 4.795831523312719, 1.4142135623730951, 9.486832980505138, 3.7416573867739413, 4.0, 9.16515138991168, 7.211102550927978, 2.0, 9.591663046625438, 7.0710678118654755, 2.0, 8.0, 6.855654600401044, 8.888194417315589, 7.211102550927978, 5.830951894845301, 5.385164807134504, 9.1104335791443, 3.872983346207417, 4.123105625617661, 10.0, 2.8284271247461903, 8.831760866327848, 8.0, 8.366600265340756, 7.3484692283495345, 10.0, 8.06225774829855, 1.4142135623730951, 7.615773105863909, 9.0, 4.123105625617661, 9.746794344808963, 5.196152422706632, 8.660254037844387, 9.746794344808963, 4.795831523312719, 6.082762530298219, 3.3166247903554, 9.327379053088816, 6.6332495807108, 5.477225575051661, 9.1104335791443, 9.327379053088816, 6.082762530298219, 6.082762530298219, 8.831760866327848, 8.366600265340756, 7.681145747868608, 4.69041575982343, 9.797958971132712]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
my_list = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [6]:
odds = []
for i in range(1,101):
    if i%2!=0:
        odds.append(i)
    else:
        pass
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [110]:
odds = [i for i in range(1,101) if i%2!=0]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [8]:
divisible_by_seven = []
for i in range(1,1001):
    if i%7==0:
        divisible_by_seven.append(i)
    else:
        pass
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [111]:
divisible_by_seven = [i for i in range(1,1001) if i%7==0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [41]:
# You can use the following test string but feel free to modify at your convenience

non_vowels = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
teststring = 'Find all of the words in a string that are monosyllabic'

new_list = list(teststring)
last_one = []

for i in new_list:
    if i in non_vowels:
        last_one.append(i)
    else:
        pass


a = ''.join(last_one)
print('the new string is:',a)

the new string is: n d l l f t h w r d s n s t r n g t h t r m n s y l l b c

In [113]:
# You can use the following test string but feel free to modify at your convenience

non_vowels = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
teststring = 'Find all of the words in a string that are monosyllabic'

new_list = list(teststring)

last_one = [i for i in new_list if i in non_vowels] 

a = ''.join(last_one)
print('the new string is:',a)

the new string is: ndllfthwrdsnstrngthtrmnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [117]:
string1 = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = []

for char in string1:
    if char.isupper() and char != ' ':
        capital_letters.append(char)

print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

In [119]:
capital_letters = [char for char in string1 if char.isupper() and char != ' ']
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [57]:
consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
string2 = 'The quick brown fox jumped over the lazy dog'
cons1 = []
for char in string2:
    if char in consonants and char != ' ':
        cons1.append(char)
    else:
        pass
print(cons1)

['h', 'q', 'c', 'k', 'b', 'r', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 'd', 'v', 'r', 't', 'h', 'l', 'z', 'y', 'd', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [ ]:
-

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [121]:
import random

random_lists = []
for i in range(4):
    sublist = []
    for j in range(10):
        random_num = random.randint(0, 100)
        sublist.append(random_num)
    random_lists.append(sublist)

print(random_lists)

[[20, 11, 24, 28, 89, 21, 48, 53, 53, 91], [34, 69, 60, 70, 23, 57, 77, 72, 24, 69], [71, 84, 91, 29, 7, 22, 86, 61, 4, 60], [77, 100, 33, 93, 53, 81, 28, 44, 38, 21]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [122]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [63]:
flatten_list = []
for i in list_of_lists:
    for u in i:
        flatten_list.append(u)
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [126]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = [u for i in list_of_lists for u in i]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [68]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [69]:
floats = []
for l in list_of_lists:
    for y in l:
        floats.append(float(y))
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

In [130]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'],
                 ['30', '20', '30', '50', '10', '30', '20', '20', '20'],
                 ['100', '100'], ['100', '100', '100', '100', '100'],
                 ['100', '100', '100', '100']]

floats = [float(y) for l in list_of_lists for y in l]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [75]:
for i in ['a','b','c']:
    try:
        print(i**2)
    except SyntaxError:
        print('correct the synax')
    except TypeError:
        print('revise data type')

revise data type
revise data type
revise data type

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [82]:
x = 5
y = 0

try:
    z = x/y
except ZeroDivisionError:
    print('You can not divide by 0!')

You can not divide by 0!

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [84]:
abc=[10,20,20]
try:
    print(abc[3])
except IndexError:
    print('Theres a mistake with indentation')

Mistake with indentation

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [88]:
def division(a, b):
    a = float(input("Enter the value of 'a': "))
    b = float(input("Enter the value of 'b': "))
    try:
        print(a / b)
    except ZeroDivisionError:
        print('You cannot divide by 0!')
    except TypeError:
        print('Please revise the data types.')

In [96]:
a = input("enter value:")
b = input("enter value:")
try:
    print(a / b)
except ZeroDivisionError:
    print('You cannot divide by 0!')
except TypeError:
    print('Please revise the data types.')

c = a/b 
print(c)

enter value:2
enter value:0
Please revise the data types.

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [99]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print('revise filename')

revise filename

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [101]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except FileNotFoundError:
    print('Revise file name')
except TypeError:
    print('Revise data types')

Revise file name

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [5]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

NameError: name 'sys' is not defined


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'